    @import "tailwindcss";  
    @plugin "daisyui";


.label {
  @apply text-xs font-bold tracking-widest text-slate-400 uppercase;
}

.input-wrapper {
  @apply relative;
}

.input {
  @apply w-full pl-11 pr-10 py-3 bg-slate-50 border border-slate-200 rounded-xl outline-none focus:ring-2 focus:ring-sky-500/20;
}

.input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-slate-400;
}

.input-chevron {
  @apply absolute right-3 top-1/2 -translate-y-1/2 text-slate-400 pointer-events-none;
}

.input-action {
  @apply absolute right-3 top-1/2 -translate-y-1/2 text-xs font-bold text-slate-400 hover:text-sky-500 flex items-center gap-1;
}

.icon-btn {
  @apply p-2 bg-white border rounded-lg hover:bg-slate-100 active:scale-95;
}

.style-card {
  @apply flex flex-col items-center gap-2 p-4 border rounded-xl text-slate-500 hover:border-slate-300 transition;
}

.style-card-active {
  @apply border-sky-500 bg-sky-50 text-sky-600;
}

@media(max-width:450px){
  .res{
    width:min(162%,30rem);
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out;
}